In [179]:
import pandas as pd
import requests
import json
from datetime import date, datetime, timedelta
from dateutil.parser import parse

# Ultimos dados de cada país

In [180]:
url_summary = "https://api.covid19api.com/summary"
response = requests.get(url_summary).text
js_summary = json.loads(response)

In [181]:
df_summary = pd.DataFrame()
for country in js_summary['Countries']:
    df_summary = df_summary.append(country, ignore_index=True)
df_summary = df_summary.drop(columns=['Premium', 'Country'])
df_summary.to_csv('summary.csv', index=False)
df_summary

,CountryCode,Date,NewConfirmed,NewDeaths,NewRecovered,Slug,TotalConfirmed,TotalDeaths,TotalRecovered
0,AF,2020-11-05T20:53:57Z,86.0,4.0,7.0,afghanistan,41814.0,1548.0,34362.0
1,AL,2020-11-05T20:53:57Z,396.0,4.0,105.0,albania,22300.0,536.0,11578.0
2,DZ,2020-11-05T20:53:57Z,548.0,19.0,424.0,algeria,59527.0,1999.0,41001.0
3,AD,2020-11-05T20:53:57Z,135.0,0.0,107.0,andorra,5045.0,75.0,3734.0
4,AO,2020-11-05T20:53:57Z,236.0,5.0,36.0,angola,11813.0,296.0,5266.0
...,...,...,...,...,...,...,...,...,...
185,VN,2020-11-05T20:53:57Z,1.0,0.0,0.0,vietnam,1203.0,35.0,1069.0
186,EH,2020-11-05T20:53:57Z,0.0,0.0,0.0,western-sahara,10.0,1.0,8.0
187,YE,2020-11-05T20:53:57Z,0.0,0.0,0.0,yemen,2063.0,601.0,1375.0
188,ZM,2020-11-05T20:53:57Z,37.0,0.0,56.0,zambia,16698.0,349.0,15819.0
189,ZW,2020-11-05T20:53:57Z,17.0,2.0,25.0,zimbabwe,8427.0,248.0,7967.0

# Lista de países

In [182]:
url_countries = "https://api.covid19api.com/countries"
response = requests.get(url_countries).text
js_countries = json.loads(response)

In [187]:
df_countries = pd.DataFrame()
for country in js_countries:
    df_countries = df_countries.append(country, ignore_index=True)

df_countries.to_csv('countries.csv', index=False)
df_countries

                          Country ISO2            Slug
0                   Faroe Islands   FO   faroe-islands
1                         Senegal   SN         senegal
2                  United Kingdom   GB  united-kingdom
3                         Morocco   MA         morocco
4    Syrian Arab Republic (Syria)   SY           syria
..                            ...  ...             ...
243                         Libya   LY           libya
244                   Philippines   PH     philippines
245             Brunei Darussalam   BN          brunei
246                       Comoros   KM         comoros
247                       Grenada   GD         grenada

[248 rows x 3 columns]

# Primeiro caso confirmado de cada país.

In [172]:
def get_min_date(js):
    min_date = datetime.now().date()
    for i in js:
        if parse(i['Date']).date() < min_date:
            min_date = parse(i['Date']).date()
    return min_date

In [168]:
url_countries = "https://api.covid19api.com/countries"
response = requests.get(url_countries).text
js_countries = json.loads(response)

countries_dict = {'countries': [],
                  'first_case': []}
for country in js_countries:
    url = f"https://api.covid19api.com/dayone/country/{country['Slug']}/status/confirmed"
    response = requests.get(url)
    js = json.loads(response.text)
    countries_dict['countries'].append(country['ISO2'])
    countries_dict['first_case'].append(get_min_date(js))

In [186]:
df_first_case = pd.DataFrame(countries_dict)
df_first_case.to_csv('first_case.csv', index=False)
df_first_case

    countries  first_case
0          FO  2020-11-05
1          SN  2020-03-02
2          GB  2020-01-31
3          MA  2020-03-02
4          SY  2020-03-22
..        ...         ...
243        LY  2020-03-24
244        PH  2020-01-30
245        BN  2020-03-09
246        KM  2020-04-30
247        GD  2020-03-22

[248 rows x 2 columns]